<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <meta charset="utf-8" />
    <title><%= module.id %> - <%= config.project %> v<%= config.version %></title>
    <meta name="generator" content="ExDoc" />
    <link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
  </head>
  <body>
    <h1>
      <%= module.id %>
      <%= if module.type do %>
        <small><%= module.type %></small>
      <% end%>
    </h1>

    <%= if module.moduledoc do %>
      <section id="moduledoc" class="docstring">
        <%= H.to_html(module.moduledoc) %>
      </section>
    <% end %>

    <%= unless Enum.empty?(types) and Enum.empty?(functions) and Enum.empty?(macros) and Enum.empty?(callbacks) do %>
      <section id="summary_details" class="details-list">
        <h1 id="summary" class="section-heading">Summary</h1>
        <%= H.summary_template "types", types %>
        <%= H.summary_template "functions", functions %>
        <%= H.summary_template "macros", macros %>
        <%= H.summary_template "callbacks", callbacks %>
      </section>
    <% end %>

    <%= unless Enum.empty?(types) do %>
      <section id="types_details" class="types details-list">
        <h1 class="section-heading">Types</h1>
        <div class="types-list">
          <%= for node <- types, do: H.type_detail_template(node, module) %>
        </div>
      </section>
    <% end %>

    <%= unless Enum.empty?(functions) do %>
      <section id="functions_details" class="details-list">
        <h1 class="section-heading">Functions</h1>
        <%= for node <- functions, do: H.detail_template(node, module) %>
      </section>
    <% end %>

    <%= unless Enum.empty?(macros) do %>
      <section id="macros_details" class="details-list">
        <h1 class="section-heading">Macros</h1>
        <%= for node <- macros, do: H.detail_template(node, module) %>
      </section>
    <% end %>

    <%= unless Enum.empty?(callbacks) do %>
      <section id="callbacks_details" class="details-list">
        <h1 class="section-heading">Callbacks</h1>
        <%= for node <- callbacks, do: H.detail_template(node, module) %>
      </section>
    <% end %>
  </body>
</html>
